@charset "UTF-8";

@font-face {
    font-family: dabanggu;
    font-weight: 400;
    src: url(../../font/Typo_DabangguB.ttf) format("woff2"),url(../../font/Typo_DabangguB.ttf) format("woff")
}

nav{
	background:rgb(226,34,25);
}


body > nav > ul > li > a {
	font-family: dabanggu;
	font-size: 30px;
	color:white;
}

#horizon {
	width:100%;
	height:50px;
	background-color: black;
	display:flex;
}

#horizon > span {
	color: white;
	display:inline-block;
	margin: auto 0;
	font-family: dabanggu;
	padding-left: 10%;
	
}

.container {
	border:solid 1px red;
	height:1000px;
}












