@charset "UTF-8";

@font-face {
    font-family: dabanggu;
    font-weight: 400;
    src: url(../font/Typo_DabangguB.ttf) format("woff2"),url(../font/Typo_DabangguB.ttf) format("woff")
}

body{
	font-family: dabanggu;
}

div#rlcontainer {
	
    background-position: center;
}

div#container {
	display: flex;
}

div#container div {
	text-align: center;
	width: auto;
	margin: auto;
}

table.ordcrt {
	width: 400px;
	height: 100px;
	font-size: 16pt;
}


ul#leftbar {
	margin-left:16.5%;
}

ul#rightbar {
	margin-right: 16.5%;
}

table.ordcrt > tbody > tr > td {
	font-size: 16pt;
	text-align: left;
}

table.ordcrt > tbody > tr > td.smtd {
	font-size: 13pt;
}

table#firsttbl {
	margin-left: 11.5%;
	
}

table#secondtbl {
	margin: 0 -40%;
	
}

div#content {
	width: 65%;
	margin: 20px auto; 
}



div#item > ul > li {
	display: inline;
}





div#caution div {
	display: inline-block;
}

div#caution > div:first-child {
	margin-right: 65%;
	font-size: 17pt;
	font-weight: bold;
}

div#caution > div:nth-child(2) {
	font-size: 13pt;
	font-weight: bold;
	cursor: pointer;
}

div#caution > ul {
	border: solid 0px orange;
	padding-left: 2%;
}

a.nav-item {
	font-size: 11pt;
	text-decoration: none;
	margin-left: 15px;
	color: white;
}

table#navtbl {
	margin: 10px auto;
	width: 66.5%;
	color: white;
}

table#navtbl > tbody > tr:first-child > td {
	text-align: right;
	padding-bottom: 20px;
	font-size: 11pt;
}

table#navtbl > tbody > tr:nth-child(2) > td:first-child {
	font-size: 25pt;
	font-weight: bolder;
} 

div#container {
	padding-top: 200px !important;
}

div#footer {
	margin-top: 45px;
	width: 100%;
	height: 230px;
	background-color: rgb(43, 2, 0);
}

div#ftcontent {
	color: white;
	width: 65%;
	padding-top: 20px;
	margin: auto;
	position: relative;
}

p.lastp {
	margin: 0;
}

a.lasta {
	text-decoration: none;
	color: white;
}

.logout {
	border:none;
	color:white;
	background-color: rgb(226,34,25);
}

#menu_container {
	font-family: dabanggu;
}

/*헤더 끝*/










